body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-display: swap;
}

html, body {
    height: 100%;
    line-height: 200%;
}

a {
    color: $ohms-secondary-dark
}